<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Cursos DB</title>
    <link href="{{ url_for('static', path='/css/bootstrap.css') }}" rel="stylesheet">
    <script src="static/js/bootstrap.min.js"></script>
  </head>

  <body>
    <div class="container w-50">
      <h1>Cursos de la Ricardo Palma</h1>
      <hr class="text-primary" />
      <p>
        Bievenido, pagina de los cursos de la Universidad Ricardo Palma.
        Seleccione <a href="/curso">aqui</a> para ver el
        listado de cursos.
      </p>
      </div>
    </div>
  </body>
</html>